/* GENERAL CONTENT */
#content {
    display: block;
    max-width: 1400px;
    margin: 0 auto;
    border-top: black 1px solid;
    background-color: #ffffff;
}


span.text {
    display: block;
    align-self: center;
    /*MOVE*/
    font-size: 16px;
  }
  
  .info-body {
      width: 75%;
      margin: 0 auto;
  
  }
  /*TEXT SECTIONS*/
  section {
      display: flex;
      width: 100%;
      margin-top: 100px;
      margin-bottom: 100px;
      justify-content: space-between;
  }
  section.one-child {
    display: flex;
    width: 78.94%;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
    height: auto;
  }
  .section-full-cont {
    width: 100%;
    padding: 0px;
  }
  .section-cont-inner-lg {
      width: 60%;
      height: 100%;
      display: flex;
  }
  .section-cont-inner-sm {
      width: 40%;
      height: 100%;
      display: flex;
  }



  .section-img-cont {
    justify-content: center;
}

/*  */
div.vert-space {
    display: block;
    height: 1px;
    border-top: black 1px solid;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.sm-cont-img {
    height: auto;
    width: auto;
    margin: auto 0;
    max-width: 100%;
    max-height: 100%;
}

/* CLEAR BUTTON*/


a.clear-button {
    font-family: 'Nunito Sans', sans-serif; 
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.clear-button span {
    height: auto;
    width: auto;
    font-size: 25px; 
    display: block;
    margin: 15px 20px 15px 20px;
}

div.clear-button-cont {
    display: flex;
    justify-content: center; 
    height: 40px; 
    align-content: top; 
    margin-bottom: 50px;
    margin-top: 50px;

}



/* TEXT */
.bold {
    font-weight: 600;
  }
  
  .indent {
    margin-left: 20px;
  }

/* CONDITIONAL STYLES */
@media screen and (min-width: 0px) {
    section {
        flex-wrap: wrap;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    section.one-child {
        flex-wrap: wrap;
        margin: 50px auto 50px auto;
    }
    .paragraph {
        width: 100%;
    }
    .section-img-cont {
        width: 60%;
        margin: 0 auto;
        max-width: 180px;
    }
    .section-right-cont {
        margin-top: 35px;
    }
    a.clear-button span {
        font-size: 20px;
    }
}

@media screen and (min-width: 557px) {
    span.text {
        /*font-size: 14px;*/
        font-size: 18px;
    } 
    a.clear-button span {
        font-size: 20px;
    }

}

@media screen and (min-width: 793px) {
    section {
        flex-wrap: nowrap;
        height: 200px;
    }
    section.one-child {
        flex-wrap: nowrap;
    }
    .section-cont-inner-lg {
        width: 60%;
    }
    .section-cont-inner-sm {
        width: 40%;
    }

    .section-cont-inner-sm.section-right-cont.section-img-cont {
        justify-content: flex-end;
    }
    .section-cont-inner-sm.section-left-cont.section-img-cont {
        justify-content: flex-start;
    }

    .section-right-cont {
        margin-top: 0px;
    }
}

@media screen and (min-width: 1000px) {
    .info-body {
        width:70%;
    }
}

@media screen and (min-width: 1400px) {
    span.text {
        font-size: 22px;
    }
}

@media screen and (min-width: 1680px) {
    .section-cont-inner-sm.section-right-cont.section-img-cont {
        /* padding-left: 15%; */
    }
    .section-cont-inner-sm.section-left-cont.section-img-cont {
        /* padding-right: 15%; */
    }
}

