/* FOOTER */


footer {
    margin: 0 auto;
    border-color: white; 
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75px;
  }
footer .inner {
    /* width: 90%; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    /* border-top: solid #ffffff 1px; */
}

#footer-l-cont {
    justify-content: center;
    /* width: 20%; */
    flex-wrap: wrap;
}

#footer-l-cont {
    width: 35%;
}

#footer-l-cont a span {
    width: 100%;
    display: block;
    color: black;
    font-size: 15px;
}

#footer-r-cont {
    padding: 5px 5px 5px 5px;
    /*height: 100%;*/
    flex-wrap: wrap;
    width: 65%;
    display: flex;
    justify-content: center;
}

.icon-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* #footer-m-cont {
    justify-content: center;
  
} */

footer .site-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    width: 90%;
}

footer .site-nav a {
    display: block;
    width: auto;
    /* max-width: 15%; */
    /* margin-left: 2%; */
    /* margin-right: 2%;  */
    font-size: 18px; 
    /* margin-bottom: 10px; */
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    color: black;
}
footer .site-nav a:hover, 
footer .site-nav a:focus {
    color: black;
    text-decoration: none; 
} 


footer .site-nav span {
    font-size: 15px;
}


i.social {
    font-size: 25px;
}

  
.footer-cont {

    height: 100%;
    display: flex;
    align-items: center;
}
span.social {
    font-size: 20px;
}

div.social-cont {
    height: 50%;
    max-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.phone {
    width: 100%;
    height: auto;
    font-size:20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#number-cont {
display: flex;
width: 70%;
height: 100%;
flex-wrap: wrap;
padding-top: 40px;
padding-bottom: 40px;
text-align: center;
}

div.phone-cont {
display: flex;
justify-content: right;
align-items: center;
height: 100%;
margin-left: 10%;
}


/* BUY NOW */

.buy-now-cont {
    width: 100%;
    height:100px;
    display: flex; 
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}
.buy-now {
    width: 50%;
    height: 50px; 
    background-color: #222222;
    border-style: none; 
    border-radius: 3px;
    font-size: 24px;
    color: #eeeeee;

}
.buy-now:hover {
    -webkit-transition: background-color, .5s;
    transition: background-color, .5s;
    cursor: pointer;
    background-color: #000000;

}
  
i.social{ 
    /* color: white; */
    color: black;
    margin-right: 20px;
    text-decoration: none;
}
i.social:hover {
    color: black;
    text-decoration: none;
}
a.social {
    text-decoration: none;
}



/* 
#fb-icon {
    color: #4064ac;
}
  
  
a.social,
a.social:focus,
a.social:hover {
    height: 80%;
    display: flex;
    align-items: center;
}
*/
  
@media screen and (max-width: 792px) {
    
    footer .inner {
        width: 100%;
        margin: 0px;
    }
    .footer-cont {
        width: 100%;
        /* height: 33%; */
    }
    span.social {
        margin-left: 5px;
        font-size: 12px;
    }
    i.email {
        padding-right: 5px;
    }
    i.phone {
        padding-right: 10px;
    }
    span.phone {
        font-size: 12px;
    }
    #footer-r-cont {
        padding: 0px;
    }
    i.social {
    font-size: 16px;
    margin-right: 10px;
    }
    div#number-cont {
        padding: 0px;
        height: auto;
    }
    div.social-cont {
        width: 50%;
        height: 100%;
    }
    div.phone-cont {
        width: auto;
        margin-left: 0px;
    }
}

@media screen and (max-width: 700px) {
    footer {
        height: 100px;
    }
    #footer-l-cont {
        width: 80%;
        margin: auto;
        height: 50%;
    }

    #footer-l-cont > a {
        width: 65%;
    }

    #footer-l-cont a span {
        font-size: 20px;
    }

    #footer-l-cont .icon-cont {
        width: 25%;
    }
    #footer-r-cont {
        height: 50%;
        width: 80%;
        margin: auto;
    }
    i.social {
        font-size: 25px;
    }
}
@media only screen and (max-width: 520px) {
    #footer-l-cont {
        width: 100%;
        margin: auto;
        height: 50%;
    }
    #footer-l-cont > a span {
        text-align: center;
        font-size: 16px;
    }
    #footer-l-cont a {

    }

    #footer-l-cont .icon-cont {
        margin-left: 5%;
        margin-right: 5%;
    }

    #footer-r-cont {
        height: 50%;
        width: 100%;
        margin: auto;

    }
    footer .site-nav a {
        font-size: 16px;
    }
}

@media screen and (min-width: 600px) {
    span.social, span.phone {
        font-size: 14px;
    }
    .buy-now {
        width: 30%;
    }
}

  
@media screen and (min-width: 793px) {
    span.social, span.phone {
        margin-left: 10px;
    }
    
}
  @media screen and (min-width: 900px) {
    span.social, span.phone {
        font-size: 15px;
    }
    i.social {
        font-size: 20px;
    }
    .buy-now {
        width: 20%;
    }
  }
@media screen and (min-width: 1150px) {
    .clear-button-cont.store {
        margin-top: 60px;
        margin-bottom: 60px;
    }



    span.social {
        margin-left: 30px;
    }


    span.social, span.phone {
        font-size: 18px;
    }


    i.social {
        font-size: 25px;
    }

    #footer-l-cont {
        width: 25%;
    }



    footer .site-nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap; 
        width: 90%;
    }

    footer .site-nav a {
        display: block;
        max-width: 15%;
        width: auto;
        margin-left: 2%;
        margin-right: 2%; 
        font-size: 18px; 
        /* text-decoration: underline; */
        font-family: 'Nunito Sans', sans-serif;
        text-align: center;
    }
    footer .site-nav > div {
        /* width: 33%; */
    }

}
  
  




@media screen and (min-width: 1500px) {
    .clear-button-cont.store {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}